%ul.nav.nav-tabs
  = active_link_to "Single Account", new_account_path, active: :exact, wrap_tag: :li

  = active_link_to "Multiple Laser Accounts with Charge", batch_new_accounts_path, active: :exact, wrap_tag: :li
