%p#notice
  = notice

= render "accounts_subnav"

%hr
= link_to "Back to Accounts", accounts_path, class: "btn btn-primary" 

= link_to "Remove Account", account_path(@account), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure? This will delete this account!"}

